

.lower-body button{
    width: fit-content;
    height: 5vh;
    margin: auto;
}
.lower-body .form-group{
    margin: auto;
}
.lower-body img{
    width: 5vw;
    height: 5vh;
    margin: auto;
}
.pop-up {
    margin-left: 40vw;
    margin-top: 20vh;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 20vh;
    width: 25vw;
    background-color: #808080;
    boundary: 1px solid black;
}
.remarks{
    margin-left: 40vw;
    margin-top: 20vh;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 25vh;
    width: 25vw;
    boundary: 1px solid black;
}
.remarks div:nth-child(1),.remarks div:nth-child(2){
    padding: 0.5vh;
    height: 9vh;
}
.remarks div:nth-child(3){
    height: 7vh;
    background-color: blue;;
    padding: 1vh;
    padding-left: 10vw;
    display: flex
}
.remarks div:nth-child(3) button{
    height: 5vh;
    width: 5vw;
    margin-left: 2vw;
}
.top{
    width:100%;
    height:75%;
    /* background-color:blue; */
    padding: 1vw;
}
.bottom{
    width:100%;
    /* background-color: black; */
    height: 25%;
    padding-left:5vw;
    padding-bottom: 1vh;
}
.bottom button{
    width: 5vw;
    margin-left:1vw;
}